header

[header](https://mailarchive.ietf.org/arch/msg/abnf-discuss/olfS38onSN006ZaeYRjJP8gEUj0/#)

Return-Path: <dom@w3.org>
X-Original-To: abnf-discuss@mail2.ietf.org
Delivered-To: abnf-discuss@mail2.ietf.org
Received: from localhost (localhost [127.0.0.1]) by mail2.ietf.org (Postfix) with ESMTP id 79CA517812FB; Fri, 4 Apr 2025 05:43:39 -0700 (PDT)
X-Virus-Scanned: amavisd-new at ietf.org
X-Spam-Flag: NO
X-Spam-Score: -4.4
X-Spam-Level:
X-Spam-Status: No, score=-4.4 tagged_above=-999 required=5 tests=[BAYES_00=-1.9, DKIM_SIGNED=0.1, DKIM_VALID=-0.1, DKIM_VALID_AU=-0.1, DKIM_VALID_EF=-0.1, RCVD_IN_DNSWL_MED=-2.3, SPF_HELO_NONE=0.001, SPF_PASS=-0.001] autolearn=ham autolearn_force=no
Authentication-Results: mail2.ietf.org (amavisd-new); dkim=pass (2048-bit key) header.d=w3.org
Received: from mail2.ietf.org ([166.84.6.31]) by localhost (mail2.ietf.org [127.0.0.1]) (amavisd-new, port 10024) with ESMTP id Q7e3WQRraf1h; Fri, 4 Apr 2025 05:43:38 -0700 (PDT)
Received: from anthe.w3.org (anthe.w3.org [IPv6:2600:1f18:7d7a:2700:318c:b74a:bdca:4a0]) (using TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange ECDHE (P-256) server-signature ECDSA (P-256) server-digest SHA256) (No client certificate requested) by mail2.ietf.org (Postfix) with ESMTPS id 5C2D017812F6; Fri, 4 Apr 2025 05:43:38 -0700 (PDT)
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; d=w3.org; s=s1; h=Content-Type:Cc:Subject:From:To:MIME-Version:Date:Message-ID:Reply-To :In-Reply-To:References; bh=/14kCzq3O2IWBoIunvtx6saI1MwwG1n46fdpblbQk+c=; t=[1743770618](tel:1743770618); x=[1744634618](tel:1744634618); b=grmTjNr1i8HbpyxmKWCwX+WT7RdJhiMAGqEHWKYvyxEXTl5 d7xJ+YGXoMWHbk9OVSuouKxjxtuzI8MK6bkdvPue9/eRZB0ZJfC3L1imrToZpJ2R2CtgAcbG+3Mbr mrgtwMLU01xVl37gRRCMWWzlipRT8Sq84/2uTZFUp46p5ryOiMX4YtiVj6rh4BoRTt18ysGnX/r33 JT/S5BQWe4qOqS8Kmi9LExKf2Ew6kG1pz9B2gBUCGWRvAlDnS9aGn0f6m04smptGXWrEOBMDvvWkT QcaKxsiFzFxifakhV8Us2jRh2y7a3uQ5zyhekBrpUYMjcpaeSafmSlujem5X/aWg==;
Received: from ip-10-0-0-242.ec2.internal ([10.0.0.242] helo=spica.w3.internal) by anthe.w3.org with esmtps (TLS1.3) tls TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (Exim 4.96) (envelope-from <dom@w3.org>) id 1u0gOY-002siQ-0G; Fri, 04 Apr 2025 12:43:38 +0000
Received: from localhost ([::1] helo=spica.w3.internal) by spica.w3.internal with esmtp (Exim 4.96) (envelope-from <dom@w3.org>) id 1u0gOY-000xLv-05; Fri, 04 Apr 2025 12:43:38 +0000
Received: from [IPV6:2a01:cb1c:8145:cd00:f98a:2aed:1862:7420] ([2a01:cb1c:8145:cd00:f98a:2aed:1862:7420]) by spica.w3.internal with ESMTPSA id KYAHF/nT72c5ewMANTRr8w (envelope-from <dom@w3.org>); Fri, 04 Apr 2025 12:43:37 +0000
Message-ID: <b2de852f-b9b1-4946-b5ea-f6680f218299@w3.org>
Date: Fri, 04 Apr 2025 14:43:36 +0200
MIME-Version: 1.0
User-Agent: Mozilla Thunderbird
Content-Language: en-US
To: tools-discuss <tools-discuss@ietf.org>, abnf-discuss@ietf.org, art-ads@ietf.org
From: Dominique Hazael-Massieux <dom@w3.org>
Content-Type: text/plain; charset="UTF-8"; format="flowed"
Content-Transfer-Encoding: 7bit
Message-ID-Hash: NUD2QFSENNWJINI5267Z6WQIYJRLXAPN
X-Message-ID-Hash: NUD2QFSENNWJINI5267Z6WQIYJRLXAPN
X-MailFrom: dom@w3.org
X-Mailman-Rule-Misses: dmarc-mitigation; no-senders; approved; emergency; loop; banned-address; member-moderation; header-match-abnf-discuss.ietf.org-0; nonmember-moderation; administrivia; implicit-dest; max-recipients; max-size; news-moderation; no-subject; digests; suspicious-header
CC: François Daoust <fd@w3.org>
X-Mailman-Version: 3.3.9rc6
Precedence: list
Subject: [abnf-discuss] Community curation of RFC ABNF extracts
List-Id: "General discussion about tools, activities and capabilities involving the ABNF meta-language" <abnf-discuss.ietf.org>
Archived-At: <https://mailarchive.ietf.org/arch/msg/abnf-discuss/olfS38onSN006ZaeYRjJP8gEUj0>
List-Archive: <https://mailarchive.ietf.org/arch/browse/abnf-discuss>
List-Help: <mailto:abnf-discuss-request@ietf.org?subject=help>
List-Owner: <mailto:abnf-discuss-owner@ietf.org>
List-Post: <mailto:abnf-discuss@ietf.org>
List-Subscribe: <mailto:abnf-discuss-join@ietf.org>
List-Unsubscribe: <mailto:abnf-discuss-leave@ietf.org>

Hi,

This is a follow up to the discussion I started last year on extracting 
ABNF from RFCs:
 
https://mailarchive.ietf.org/arch/msg/abnf-discuss/-IYDvvO0gwK2vjEICbGa5FxgMBY/

Since then, I have been working with the RPC to evaluate how the tools I 
developed in this context could be used to improve and facilitate the 
work of validating ABNF correctness.

This resulted in the development of the following additional tool:
   https://dontcallmedom.github.io/rfcref/abnf/web/
which allows to paste some ABNF in, and validate it, both syntactically 
and for completeness - the latter, by identifying rules that aren't 
defined in the pasted content, but for which external definitions exist 
in RFCs the tool is aware of (based on
   https://github.com/dontcallmedom/rfcref/tree/main/abnf/consolidated )

I understand from the RPC that the tool is indeed proving useful; it 
would be most useful if it knew about all the ABNF extracts from RFCs, 
or at least all those that are likely to be referenced from other RFCs 
moving forward.

I'm willing to help with such a project, but would want to get a small 
community of volunteers to make it more tractable.

Among the tasks that I would want to see these volunteers take up:
* review pull requests that add new extracts to the tool, including 
verifying the raw RFC extract is correct, the identified dependencies 
match what the RFC says (often in prose), that potential erratas have 
been correctly integrated

* help review and validate special processing needed on some RFCs; for 
instance, RFC 9555 depends on rules defined in RFC 6350; RFC 6350 itself 
depends on RFC 2045 which is using pre-RFC 5234 syntax - it would be 
great to get support in pulling a 2045 extract with a modernized syntax

* help submit erratas discovered in the process

* ideally, submit pull requests of their own for missing RFCs

* possibly, help with improving the tool itself (e.g. in identifying 
"import" patterns, in tracking errata to RFCs on which extracts exist, etc).

(most of these will require more and better documentation than is 
currently available in the tool, which would likely be the first thing I 
would work with volunteers on)

The goal would be both to make sure that the project would be able to 
continue without my involvement (which is bound to be sporadic), and to 
ensure the outcome of the effort is done in a transparent and 
community-supported workflow - which significantly increases its 
trustworthiness. That in turn would ideally lead to further re-use in 
the IETF ecosystem, the same way we have seen a lot of re-use of data 
extracted from W3C specifications in the webref project 
https://github.com/w3c/webref/?tab=readme-ov-file#known-consumers

I'll have limited bandwidth for this topic in the upcoming two weeks; if 
there are a few volunteers identified by then, I'll look into organizing 
the start of this effort toward the end of the month.

Thanks,

Dom

[[abnf-discuss] Community curation of RFC ABNF ext…](https://mailarchive.ietf.org/arch/msg/abnf-discuss/olfS38onSN006ZaeYRjJP8gEUj0/)  Dominique Hazael-Massieux``